---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/auth/sign_in":
    post:
      summary: ユーザーのログイン
      tags:
      - Auth
      parameters: []
      responses:
        '200':
          description: ログイン成功
        '401':
          description: 認証失敗
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: password
              required:
              - email
              - password
servers:
- url: http://localhost:3000
  description: Development server
