default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: password # Docker Composeの設定に合わせて修正
  host: db # Docker Composeで定義されたサービス名

development:
  <<: *default
  database: portfolio_development

test:
  <<: *default
  database: portfolio_test
  adapter: mysql2
  encoding: utf8mb4
  username: root
  password: password
  host: db
  port: 3306

production:
  <<: *default
  database: portfolio_production
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
